<div id="stars" class="col-md-3 sidebar nopadding">
  <div class="col-md-3 sidebar-bio">
    <div class="bio-picture">
      <img src="/assets/images/script.gif" class="bio-picture-img" width="60%" height="60%"/>
    </div>
    <h2 class="bio-name">Shawn Stedman</h2>
    <div class="bio-title">Front End Engineer</div>
    <div class="bio-city">San Francisco</div>
    <div class="bio-description">
      <p>
        I enjoying hacking on all things Javascript.
      </p>
      <p>
        I focus on React, Angular, Backbone, THREE.js, D3 and Node.js.
      </p>
    </div>
    <div class="bio-icons">
      <a class="twitter-link" href="http://twitter.com/pxwise" title="twitter">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
      <a class="github-link" href="http://github.com/pxwise" title="github">
        <i class="fa fa-github fa-2x"></i>
      </a>
      <a class="stack-overflow-link" href="http://stackoverflow.com/users/1774183/pxwise" title="stack overflow">
        <i class="fa fa-stack-overflow fa-2x"></i>
      </a>
    </div>
  </div>
</div>
