/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


// Oerrides
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}



////// ported from pxwise three

$main-font-family: 'Source Sans Pro', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
$title-font-family: 'Roboto Condensed', sans-serif;

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
}
a,
a:visited {
  text-decoration: none;

  &:link {
    -webkit-tap-highlight-color: rgba(255, 136, 116, 0.33);
     transition: color 0.17s ease-out, 0.0s;
  }
  &:hover {
    transition: color 0.17s ease-out, 0.0s;
  }
  &:active {
    transition: color 0.0s ease-out, 0.0s;
  }
  &:focus {
    transition: color 0.0s ease-out, 0.0s;
  }
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

.header {
  background-repeat: no-repeat;
  background-size: 200px 60px;
  background-image: url('../../../../assets/images/pxwise-stripe-bg.png');
}
.navbar-default .navbar-collapse {
  margin-top: 5px;
}
.navbar-nav {
  float: right;
  padding-right: 40px;
}
.header.navbar-default {
  height: 60px;
  color: #fff;
  background-color: #140246;
  opacity: 0.8;

  &.navbar-fixed-top {
    border-width: 0;
  }

  .navbar-nav>li>a,
  .navbar-nav>li>a:visited {
    font-size: 18px;
    color: #ccc;
    letter-spacing: -1px;
    text-decoration: none;

    &:link {
      -webkit-tap-highlight-color: rgba(116, 136, 255, 0.33);
       transition: color 0.17s ease-out, 0.0s;
    }
    &:hover {
      color: #fff;
      transition: color 0.17s ease-out, 0.0s;
    }
    &:active,
    &:focus {
      color: #fff;
      transition: color 0.0s ease-out, 0.0s;
    }
  }
  .navbar-nav>li.home-link>a,
  .navbar-nav>li.home-link>a:visited {
    letter-spacing: 0;
    font-weight: bold;
    color: #63e2ff;
  }

}

#stars {
  position: fixed;
  background-color: #000;
}
.sidebar {
  background-color: #000;
}
.sidebar-bio {
  position: fixed;
  top: 60px;
  padding: 0 30px 0 40px;
  color: #fff;
}
.bio-name {
  //font-family: $title-font-family;
  margin-top: 160px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;
  padding-bottom: 9px;
  border-bottom: 1px dotted #444;
  color: #bbb;
}
.bio-title {
  font-size: 30px;
  color: #fff;
}
.bio-city {
  //font-family: $title-font-family;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.8em;
  color: #fd593f;
}
.bio-description {
  margin-top: 10px;
  font-size: 15px;
  color: #ddd;
}
.bio-icons {
  margin-top: 30px;

  .fa {
    width: 20%;
  }
  .fa-twitter {
    margin-left: 20%;
  }
  a,
  a:visited {
    color: #999;
    text-decoration: none;
  }
  .twitter-link {
    &:link {
      -webkit-tap-highlight-color: rgba(150, 207, 250, 0.33);
    }
    &:hover {
      color: #fff;
    }
    &:active,
    &:focus {
      color: #54abee; //#96cffa;
    }
  }
  .github-link {
    &:link {
      -webkit-tap-highlight-color: rgba(204, 204, 204, 0.33);
    }
    &:hover {
      color: #fff;
    }
    &:active,
    &:focus {
      color: #f5f182; //#fff;
    }
  }
  .stack-overflow-link {
    &:link {
      -webkit-tap-highlight-color: rgba(253, 170, 110, 0.33);
    }
    &:hover {
      color: #fff;
    }
    &:active,
    &:focus {
      color: #fa9951; //#fdaa6e;
    }
    .fa-stack-overflow:before {
      font-size: 28px;
    }
  }
}
.bio-picture {
  padding: 60px 0 30px;
  text-align: center;
}
.bio-picture-img {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
}

.content {
  float: right;
  background-color: #f9f9f9;
}
.content-header {
  margin: 0 -15px;
  height: 60px;
  background-color: #000a2f;
}
.content-body {
  margin: 60px 45px 20px;
}

// default overrides
body {
  font-family: $main-font-family;
}
.highlight pre {
  font-size: 12px;
}
.post-title {
  color: #ff231e;
  font-family: $title-font-family;
  font-weight: 400;
}

