<div id="stars" class="col-md-3 sidebar nopadding">
  <div class="col-md-3 sidebar-bio">
    <div class="bio-picture">
      <img src="{{ site.baseurl }}/assets/images/script.gif" class="bio-picture-img" width="67%" height="67%"/>
    </div>
    <h2 class="bio-name">Shawn Stedman</h2>
    <div class="bio-title">Front End Engineer</div>
    <div class="bio-city">San Francisco</div>
    <div class="bio-description">
  I enjoy hacking on all things Javascript. I focus on React, Angular, Backbone, D3,
  THREE.js, Raphael.js, Node.js</div>
    <div class="bio-icons">

    </div>
  </div>
</div>
