<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

<!--     <div class="page-content">
      <div class="wrapper"> -->

        <div class="container-fluid">
          <div class="row">

            {% include sidebar.html %}

            <div id="stars" class="col-md-3 nopadding"></div>
            <div class="content col-md-9">
              <div class="content-header"></div>
              <div class="content-body">

                {{ content }}

              </div>
            </div>
          </div>
        </div>


<!--       </div>
    </div> -->

    {% include footer.html %}

  </body>

</html>
